Options +MultiViews
ErrorDocument 404 /404.php
php_value error_reporting 2037
php_flag register_globals off

<IfModule mod_negotiation.c>
  AddLanguage en .en
  AddLanguage fr .fr
  LanguagePriority en da nl et fr de el it ja pl pt pt-br lb ca es sv
</IfModule>
