{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block content %}
    <h2>{% trans 'Subscription' %} {{ subscription.ref_contrat }}</h2>
    <ul>
        {% for row in subscription_details %}
            <li>{{ row.description }} | {{ row.qty }} | {{ row.prix_excl_vat}}</li>
        {% empty %}
            {% blocktrans %} This subscription have no details{% endblocktrans %}
        {% endfor %}
    </ul>

    {% if subscription.subscriptiontransaction_set.all %}
    <ul>
         {% for row in subscription.subscriptiontransaction_set.all %}
            <li>{{ row }}</li>
         {% endfor %}
    </ul>
    {% else %}
      {% if subscrption.type_doc == "invoice" %}
        <a href="{% url 'hipay_paysubs' subscription_id=subscription.pk %}">
            {% trans 'Pay invoice with HiPay' %}
        </a>
      {% else %}
           <a href="{% url 'accept_quote' subscription_id=subscription.pk %}">
           {% trans 'Accpet quote' %}
           </a>
      {% endif %}

    {% endif %}

{% endblock %}
