{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block content %}
    <h2>{% blocktrans %}Invoices for company {% endblocktrans %}{{ company }}</h2>
    <ul>
        {% for invoice in invoice_list %}
            <li><a href="{% url 'detail_invoice' invoice_id=invoice.id_facture %}">{{ invoice.num_facture }} | {{ invoice.date_facture }}</a></li>
        {% empty %}
            {% blocktrans %} You have no invoice or quote for {{ company }} {% endblocktrans %}
        {% endfor %}
    </ul>
{% endblock %}
