{% load i18n %}
{% load url from future %}
{# The variable {{ white_label }} will contain the while label prefix for static file, it includes the STATIC_URL prefix already #}
<html>
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>

  <body>
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    <hr />
    <a href="{% url 'list_companies' %}">{% blocktrans %}My companies {% endblocktrans %}</a> |
    <a href="{% url 'add_company' %}">{% blocktrans %}Add a company {% endblocktrans %}</a> |
    <a href="{% url 'invite_user' %}">{% blocktrans %}Invite a user {% endblocktrans %}</a> |
    <a href="{% url 'revoke_invitations' %}">{% blocktrans %}Revoke invitation {% endblocktrans %}</a> |
    <a href="#">{% blocktrans %}Due invoices {% endblocktrans %}</a> | <a href="{% url 'logout_oauth' %}">{% trans 'Logout' %}</a>

    {% if user.is_authenticated %}
    <p>
      Email: {{ user.email }} <br />
    </p>

    {% endif %}
    {% endblock %}
    DEBUG : {{ base }}
  </body>
</html>
